body{
  background-color: black;
  font-family: REM;
  margin: 0px;
}

body > *{
  font-size: 16px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

p{
  color: white;
}

/*DROPDOWN*/

#dropdown-list{
  display: none;
  z-index: 1;
  background-color: black;
  top: 0px;
  left: 0px;
  width: 251px;
  height: 100vh;
}

.dropdown-cont{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 72px;
  outline: 1px solid yellow;
}

#drop-btn{
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  margin: 16px;
  outline: 1px solid white;
}

.dropdown-cont:hover #dropdown-list{
  display: block;
  position: absolute;
}

#dropdown-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

.drop-item{
  display: flex;
  margin-left: 16px;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
}

#dropdown-items li:nth-child(n+2){
  width: 251px;
  height: 48px;
}

#close-dropdown{
  display: flex;
  height: 72px;
  width: 251px;
  align-items: center;
  justify-content: flex-start;
}

#social-cont{
  display: flex;
  width: 251px;
  height: 48px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0;
}

#social-cont a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
  width: 30px;
  height: 30px;
}

.socialBtn{
  outline: 1px dotted red;
}

/* NAV */

nav{
  position: sticky;
  top:0;
  background-color: black;
  height: 72px;
  width: 100%;
  margin: 0px;
  z-index: 2;
}

.nav-cont{
  display: flex;
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#anchor-cont{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 128px;
  height: 40px;
  margin: 16px;
  overflow: auto;
  right: 0px;
}

.sign-logo{
  display: block;
}

li{
  list-style: none;
}

/* HERO*/

#hero-cont{
  background-image: url('../assets/hero-512.png');
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 824px;
  background-repeat: no-repeat;
  background-position: center;
}

#hero-cont > *{
  margin: 0px 16px;
  position: absolute;
}

#hero-cont img{
  width: 281px;
  height: 219px;
  top: 353px;
}

#hero-cont a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 281px;
  height: 96px;
  background-color: #52D0D0;
  font-size: 32px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow:
  3px 0px 3px rgba(0, 0, 0, 0.5),
  0px 3px 3px rgba(0, 0, 0, 0.5);
  top: 592px;
}

/* MAIN */

.main-home{
  margin: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > *{
  margin: 56px 0px 0px 0px;
}

#about{
  display: flex;
  flex-direction: column;
  width:100%;
  padding: auto;
}

#likes-cont{
  display: flex;
  width: inherit;
  justify-content: space-around;
  text-align: center;
}

#banner-cont #commission-promo{
  margin-bottom: 56px;
}

.promo-cont{
  display: flex;
  width: 380px;
  height: 192px;
  position: relative;
}

#commission-promo{
  background-image: url('../assets/commission-banner.png');
  background-repeat: no-repeat;
  background-position: right;
}

#patreon-promo{
  background-image: url('../assets/patreon-banner.png');
  background-repeat: no-repeat;
  background-position: right;
}

.promo-cont .promo-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.promo-cont .promo-anchor{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52D0D0;
  font-size: 24px;
  font-weight: 600;
  width: 96px;
  height: 48px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 8px;
  margin: 4px;
}

#waitlist-cont{
 display: flex;
 flex-direction: column;
 text-align: center;
 width: 214px;
}

#waitlist-cont p:nth-child(1){
  font-size: 24px;
  font-weight: 600;
}

#waitlist-cont p:nth-child(2){
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

#list-cont{
  display: flex;
  flex-direction: column;
  height: 287px;
  padding: 24px 16px;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  color: #52D0D0;
  border-radius: 10px;
  box-shadow: 0 0 0 3px white;
}

.waitlist-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
}

footer{
  display: flex;
  height: 174px;
  padding: 24px;
  justify-self: center;
  margin-top: 112px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul{
  display: flex;
  width: 100%;
  height: 48px;
  padding: 0px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 56px;
}

footer ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  height: 48px;
  width: 83px;
}

footer img{
  width: 76px;
}

footer p{
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}



/*GALLERY*/

.main-header p{
  font-size: 18px;
  font-weight: 600;
}

.main-gallery{
  margin: 0px 16px;
}

.main-gallery > *:nth-child(n+2){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-gallery header{
  text-align: left;
}

#search-cont{
  display: flex;
  align-items: flex-end;
  position: relative;
}

#search-form{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

#s{
  all: unset;
  background-color: white;
  border-radius: 4px;
  width: 330px;
  height: 48px;
  border-radius: 4px;
}

#search-cont > form button{
  width: 48px;
  height: 48px;
  outline: none;
  background-color: #7154D6;
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 2px;
}

#filter-cont{
  display: none;
  flex-direction: column;
  padding: 0px;
  justify-content: flex-start;
  background-color: #7154D6;
  width: 148px;
  position: absolute;
  top: 34px;
  border-radius: 4px;
  z-index: 1;
}

#filter-cont li{
  display: flex;
  align-items: center;
  height: 48px;
}

#filter-cont li p{
  text-align: center;
}

.check-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

#gallery-cont{
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.artwork{
  width: 182px;
  height: 176px;
  background-color: purple;
  background-image: url('../assets/Ani-Elfa.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#gallery-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin-top: 16px !important;
  outline: 1px solid cyan;
}

#gallery-nav button{
  all: unset;
  color: white;
  height: 48px;
  width: 48px;
  text-align: center;
}


/*PATREON NSFW*/

.main-nsfw{
  margin: 0px 16px;
}

.section-description{
  display: flex;
  flex-direction: column;
}

.section-description p{
  font-weight: 500;
  font-size: 16px;
}

.card-cont{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-element{
  border-radius: 4px;
  outline: 1px solid magenta;
}

.tier-name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  background-color: #7154D6;
  height: 46px;
}

.card-description{
  display: flex;
  height: 92px;
  margin: 0px;
  justify-content: space-between;
  padding: 16px 24px;
  outline: 1px solid green;
}

.card-description p:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  margin-right: 24px;
  outline: 1px solid yellow;
}

.tier-price{
  display: flex;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
  outline: 1px solid red;
}

.join-patreon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  background-color: #52D0D0;
  margin-top: 24px;
}

#discount{
  font-weight: 500;
}


/* FANARTS */

.main-fanarts{
  margin: 0px 16px;
}

#fanart-cont{
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.fanart{
  display: flex;
  width: 182px;
  height: 176px;
  position: relative;
  background-color: purple;
  background-image: url('../assets/Ani-Elfa.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fanart p{
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #52D0D0;
  width: 127px;
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  margin: 0px;
  padding: 4px;
}

#fanart-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin-top: 16px !important;
  outline: 1px solid cyan;
}

#fanart-nav button{
  all: unset;
  color: white;
  height: 48px;
  width: 48px;
  text-align: center;
}



/* COMMISSIONS */

.main-comm{
  margin: 0px 16px;
}

#tos-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

#tos-advice{
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.main-comm a:nth-child(3){
  display: flex;
  height: 48px;
  background-color: #52D0D0;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.main-comm a:nth-child(4){
  display: flex;
  height: 48px;
  background-color: #7154D6;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.tos-modal{
  display: none;
  flex-direction: column;
  position: absolute;
  width: 380px;
  height: 480px;
  overflow: scroll;
  background-color: black;
  border-radius: 10px;
  outline: 1px solid #52D0D0;
  padding: 0px 16px;
  box-sizing: border-box;
  top: 28vh;
  z-index: 2;
}

.tos-modal p{
  margin: 0px;
}

#tos-cont p:hover + .tos-modal{
  display: flex;
}

.tos-accept-title{
  text-align: center;
  color: #52D0D0;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
}

.tos-accept-description{
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.tos-draw{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.tos-button-cont{
  display: flex;
  gap: 4px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.tos-button-cont button{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #52D0D0;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 48px;
  border-radius: 4px;
}

#prices{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.comm-card{
  border-radius: 4px;
  outline: 1px solid #7154D6;
}

.ref-title{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  background-color: #7154D6;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
}

.reference-drop{
  display: none;
  justify-content: space-between;
  padding: 16px;
}

.ref-title:hover + .reference-drop{
  display: flex;
}

.reference-drop img{
  height: 176px;
}

.reference-drop p{
  display: flex;
  text-align: flex-end;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

#extra-info{
  font-size: 16px;
  font-weight: 500;
}



@media screen and (min-width: 513px) and (max-width:768px){
  
  #commission-status p{
    font-size: 20px;
    font-weight: 600;
  }

  .title, #body-large, #likes p, #dislikes p{
    font-size: 20px;
    font-weight: 400;
  }

  #waitlist-cont p:nth-child(1){
    font-size: 40px;
  }

  #waitlist-cont p:nth-child(2){
    font-size: 18px;
  }

  .waitlist-item{
    font-size: 20px;
    font-weight: 500;
  }

  .footer-link{
    font-size: 20px;
    font-weight: 600;
  }

  #hero-cont{
    background-image: url('../assets/hero-768.png');
  }
  
  .promo-cont{
    width: 70vw;
  }
  
  #waitlist-cont{
    width: 300px;
  }
  
  
  /* COMMISSIONS */
  
  .main-comm a:nth-child(3){
    width: 60vw;
    justify-self: center;
  }
  
  .main-comm a:nth-child(4){
    width: 60vw;
    justify-self: center;
  }
  
  .prices-cont{
    width: 60vw;
    justify-self: center;
  }
  

  footer{
    width: 70vw;
  }
  
}

@media screen and (min-width: 668px){
  
  #s{
    height: 32px;
  }
  
  #search-cont > form button{
    height: 32px;
    width: 32px;
  }
  
#gallery-cont{
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.artwork{
  width: 206px;
  height: 200px;
}

#fanart-cont{
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.fanart{
  width: 206px;
  height: 200px;
}

}

@media screen and (min-width: 768px) and (max-width: 960px){
  
  #commission-status p{
    font-size: 20px;
    font-weight: 600;
  }

  .important-word{
    font-size: 40px !important;
  }

  #join-imp{
    font-size: 40px !important;
  }

  .title, #body-large, #likes p, #dislikes p{
    font-size: 20px;
    font-weight: 500;
  }

  #waitlist-cont p:nth-child(1){
    font-size: 40px;
  }

  #waitlist-cont p:nth-child(2){
    font-size: 18px;
  }

  .waitlist-item{
    font-size: 24px;
    font-weight: 600;
  }

  .footer-link{
    font-size: 20px;
    font-weight: 600;
  }

  #hero-cont{
    background-image: url('../assets/hero-1024.png');
  }
  
  .promo-cont{
    width: 70vw;
  }
  
  #waitlist-cont{
    width: 300px;
  }
  
  
  
  /* COMMISSIONS */
  
  .main-comm a:nth-child(3){
    width: 60vw;
    justify-self: center;
  }
  
  .main-comm a:nth-child(4){
    width: 60vw;
    justify-self: center;
  }
  
  .prices-cont{
    width: 60vw;
    justify-self: center;
  }
  
  

  footer{
    width: 70vw;
  }
  
}

/* COMMISSION AND PATREONS CARDS */
@media screen and (min-width: 961px){
  /* COMMISSIONS */
  
  .main-comm a:nth-child(3){
    width: 580px;
    justify-self: center;
  }
  
  .main-comm a:nth-child(4){
    width: 580px;
    justify-self: center;
  }
  
  .prices-cont{
    width: 580px;
    justify-self: center;
  }
}

@media screen and (min-width: 961px) and (max-width: 1024px){
  
  #commission-status p{
    font-size: 20px;
    font-weight: 600;
  }

  .title, #body-large, #likes p, #dislikes p{
    font-size: 20px;
    font-weight: 500;
  }

  #waitlist-cont p:nth-child(1){
    font-size: 40px;
  }

  #waitlist-cont p:nth-child(2){
    font-size: 18px;
  }

  .waitlist-item{
    font-size: 24px;
    font-weight: 600;
  }

  .footer-link{
    font-size: 20px;
    font-weight: 600;
  }

  #hero-cont{
    background-image: url('../assets/hero-1024.png');
  }
  
  .promo-cont{
    width: 70vw;
  }
  
  #waitlist-cont{
    width: 300px;
  }
  
  #banner-cont{
    display: flex;
    justify-content: center;
    width: 90vw;
  }
  
  #banner-cont #commission-promo{
    margin-right: 56px;
    margin-bottom: 0px;
  }

  footer{
    width: 70vw;
  }
  
}

@media screen and (min-width: 1025px){
  
  #commission-status p{
    font-size: 20px;
    font-weight: 600;
  }

  .title, #body-large, #likes p, #dislikes p{
    font-size: 20px;
    font-weight: 500;
  }

  #waitlist-cont p:nth-child(1){
    font-size: 40px;
  }

  #waitlist-cont p:nth-child(2){
    font-size: 18px;
  }

  .waitlist-item{
    font-size: 24px;
    font-weight: 600;
  }

  .footer-link{
    font-size: 20px;
    font-weight: 600;
  }

  #hero-cont{
    background-image: url('../assets/hero-1920.png');
  }
  
  #waitlist-cont{
    width: 300px;
  }
  
  .promo-cont{
    width: 100%;
  }
  
  #banner-cont{
    display: flex;
    justify-content: center;
    width: 920px;
  }
  
  #banner-cont #commission-promo{
    margin-right: 56px;
    margin-bottom: 0px;
  }
  
  footer{
    width: 70vw;
  }

}