@media screen and (max-width: 812px){

body{
  background-color: black;
}

p{
  color: white;
}

nav{
  position: sticky;
  top:0;
  background-color: black;
  height: 72px;
  width: 100%;
  border: solid blue 3px;
  margin: 0px;
}

.nav-cont{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 72px;
  max-width: 812px;
  border: solid red 2px;
  margin: 0px;
}

#drop-btn{
  background: none;
  border: none;
  width: 72px;
  height: 72px;
  border: solid yellow 1px;
}

#home-anchor{
  border: solid white 1px;
}

#home-anchor a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

main{
  margin: 0px 16px 0px 16px;
}

#hero{
  width: 412px;
}

#about{
  width:100%;
}

#likes-cont{
  display: flex;
  width: inherit;
  justify-content: space-around;
  text-align: center;
}

#hero-cont{
  max-width: 412px;
  height: auto;
  background-image: url('/assets/Tenkawa_Kaoruko.png');
}  
}